@font-face {
    font-family: 'Roboto Mono';
    src: url('font.ttf');
}

.costr-pane-base {
    background-color: darkgrey;
}

.ui-rectangle {
    -fx-arc-width: 15;
    -fx-arc-height: 15;
}

.label {
    -fx-font-size: 17px;
    -fx-text-fill: rgb(82, 255, 90);
    -fx-stroke-width: 2;
    -fx-font-family: Roboto Mono;
}

#ship-bg-img {
    -fx-corner-radius: 10px
}
